$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

@mixin sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: $breakpoint-2xl) {
    @content;
  }
}

@mixin sm-up {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md-up {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg-up {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl-up {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin xxl-up {
  @media (min-width: $breakpoint-2xl) {
    @content;
  }
} 